body {
    background-color: blue;
    color: white;
    font-family: monospace;
}

img {
    width: 50%;
    margin: 3%;
    margin-top: 0%;
    float: right;
}

.Main {
    outline: 2px solid white;
    width: 60%;
    position: absolute;
    left: 20%;
    margin-top: 2%;
    height: 90%;
}

.Menu {
    outline: 2px solid white;
    width: 15%;
    position: absolute;
    left: 2.5%;
    margin-top: 3%;
    height: 85%;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 5%;
}

p {
    text-align: justify;
    margin: 5%;
    margin-top: 0%;
    font-weight: bolder;
}

a {
    color: white;
    margin: 5%;
    font-weight: bolder;
    text-decoration: none;
}
