body {
    background-color: deepskyblue;
    color: white;
    font-family: monospace;
}

.Main {
    outline: 2px solid white;
    width: 60%;
    position: absolute;
    left: 20%;
    margin-top: 2%;
}

.Menu {
    outline: 2px solid white;
    width: 15%;
    position: absolute;
    left: 2.5%;
    margin-top: 3%;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 3%;
}

p {
    text-align: justify;
    margin: 5%;
    font-weight: bolder;
}

a {
    color: white;
    margin: 5%;
    font-weight: bolder;
    text-decoration: none;
}
a:visited {
    color: deepskyblue;
}
a:hover {
    color: white;
}